$inuit-base-font-size:          16px !default;
$inuit-base-line-height:        24px !default;
$inuit-base-text-color:         #333 !default;
$inuit-base-background-color:   #fff !default;

// Default font-family
$base-font-family: 'Helvetica', sans-serif;

$base-ui-color: #EEE;